.explore-area {
    background-image: url(./App/Assets/img/home-one/explore-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.page-title-area {
    background-image: url(./App/Assets/img/page-title-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 400px;
    z-index: 1;
}



.copyright-area .copyright-item ul li:nth-child(4) a {
    background-color: #F2203E !important;
}

.copyright-area .copyright-item ul li:nth-child(5) a {
    background-color: #009D1C !important;
}